<tr>
  <td>
    <%= team.name %>
  </td>
  <td>
    <%= team.gamesPlayed %>
  </td>
  <td>
    <%= team.wins %>
  </td>
  <td>
    <%= team.losses %>
  </td>
  <td>
    <%= team.ot %>
  </td>
  <td>
    <%= team.pts %>
  </td>
  <td>
    <%= team.ptPctg %>
  </td>
  <td>
    <%= team.goalsPerGame %>
  </td>
  <td>
    <%= team.goalsAgainstPerGame %>
  </td>
  <td>
    <%= team.evGGARatio %>
  </td>
  <td>
    <%= team.powerPlayPercentage %>
  </td>
  <td>
    <%= team.powerPlayGoals %>
  </td>
  <td>
    <%= team.powerPlayGoalsAgainst %>
  </td>
  <td>
    <%= team.powerPlayOpportunities %>
  </td>
  <td>
    <%= team.penaltyKillPercentage %>
  </td>
  <td>
    <%= team.shotsPerGame %>
  </td>
  <td>
    <%= team.shotsAllowed %>
  </td>
  <td>
    <%= team.winScoreFirst %>
  </td>
  <td>
    <%= team.winOppScoreFirst %>
  </td>
  <td>
    <%= team.winLeadFirstPer %>
  </td>
  <td>
    <%= team.winLeadSecondPer %>
  </td>
  <td>
    <%= team.winOutshootOpp %>
  </td>
  <td>
    <%= team.winOutshotByOpp %>
  </td>
  <td>
    <%= team.faceOffsTaken %>
  </td>
  <td>
    <%= team.faceOffsWon %>
  </td>
  <td>
    <%= team.faceOffsLost %>
  </td>
  <td>
    <%= team.faceOffWinPercentage %>
  </td>
  <td>
    <%= team.shootingPctg %>
  </td>
  <td>
    <%= team.savePctg %>
  </td>
<tr>