<section class="teams-show">

  <header class="page-header">
    <h1><%= @team.name %></h1>
  </header>

  <article class="team-details">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag("logo-#{@team.id}.png", height: '300') %>
      </div>

      <div class="col-sm-4">
        <div class="entry-content">
          <ul>
            <li><strong>Games Played : </strong><%= @team.gamesPlayed %></li>
            <li><strong>Wins : </strong><%= @team.wins %></li>
            <li><strong>Losses : </strong><%= @team.losses %></li>
            <li><strong>Overtime : </strong><%= @team.ot %></li>
            <li><strong>Points : </strong><%= @team.pts %></li>
            <li><strong>Point Percent Game : </strong><%= @team.ptPctg %></li>
            <li><strong>Goals Per Game : </strong><%= @team.goalsPerGame %></li>
            <li><strong>Goals Against Per Game : </strong><%= @team.goalsAgainstPerGame %></li>
           
            <li><strong>Past Season Points</strong></li> 
            <canvas id="myPointsChart"></canvas>
            <script>
                
            var ctx = document.getElementById('myPointsChart');
            var myPointsChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: <%= raw @pastTeam.map(&:season).to_json %>,
                    datasets: [{
                        label: 'Points',
                        data: <%= raw @pastTeam.map(&:pts).to_json %>,
            
                        backgroundColor: [
                            'rgba(113, 115, 156, 0.2)',
                            'rgba(113, 115, 156, 0.2)',  
                            'rgba(113, 115, 156, 0.2)',  
                            'rgba(113, 115, 156, 0.2)', 
                            'rgba(113, 115, 156, 0.2)',
                            'rgba(113, 115, 156, 0.2)',  
                            'rgba(113, 115, 156, 0.2)',  
                            'rgba(113, 115, 156, 0.2)',
                            'rgba(113, 115, 156, 0.2)'                        
                        ],
                        borderColor: [
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)',
                            'rgba(58, 59, 89, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            </script>
            <li><strong>Power Play Percentage : </strong><%= @team.powerPlayPercentage %></li>
            <li><strong>Power Play Goals : </strong><%= @team.powerPlayGoals %></li>
            <li><strong>Power Play Goals Against : </strong><%= @team.powerPlayGoalsAgainst %></li>
            <li><strong>Power Play Opportunities : </strong><%= @team.powerPlayOpportunities %></li>
          </ul>
        </div>  
      </div>
      
      <div class="col-sm-4">
        <div class="entry-content">
          <ul>
            <li><strong>Past Season Win Trend</strong></li> 
            <canvas id="myWinsChart"></canvas>
            <script>
                
            var ctx = document.getElementById('myWinsChart');
            var myWinsChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: <%= raw @pastTeam.map(&:season).to_json %>,
                    datasets: [{
                        label: 'Wins',
                        data: <%= raw @pastTeam.map(&:wins).to_json %>,
            
                        backgroundColor: [
                            'rgba(113, 115, 156, 0.2)',                         
                        ],
                        borderColor: [
                            'rgba(58, 59, 89, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            </script>            
            
            <li><strong>Penalty Kill Percentage : </strong><%= @team.penaltyKillPercentage %></li>
            <li><strong>Shots Per Game : </strong><%= @team.shotsPerGame %></li>
            <li><strong>Shots Allowed : </strong><%= @team.shotsAllowed %></li>
            <li><strong>Win Outshot By Opponent : </strong><%= @team.winOutshotByOpp %></li>
            <li><strong>Face Offs Taken : </strong><%= @team.faceOffsTaken %></li>
            <li><strong>Face Offs Won : </strong><%= @team.faceOffsWon %></li>
            <li><strong>Face Offs Lost : </strong><%= @team.faceOffsLost %></li>
            <li><strong>Face Off Win Percentage : </strong><%= @team.faceOffWinPercentage %></li>
            <li><strong>Shooting Percentage Game : </strong><%= @team.shootingPctg %></li>
            <li><strong>Save Percentage Game : </strong><%= @team.savePctg %></li>
            <li><strong>EvGGA Ratio : </strong><%= @team.evGGARatio %></li>
        </ul>
      </div>
    </div>

  </article>

</section>