<div class="container-compare">


    <form action="<%= compare_path %>" method="GET">


<div class="selector">
    <!--team tab-->
    <div class="plan standard">
        
        <div class="entry-title">
        <%= select_tag 'team_1', options_from_collection_for_select(Team.all, :id, :name), :prompt => @team1.name %>
            <div class="logo"> <%= image_tag("/assets/logo-#{@team1.id}.png", :height => "70") %> 
            </div>
        </div>
        <div class="entry-content">
        
        <ul>
            <li><%= link_to "#{@team2.name}", team_path(@team2.id) %></li>
            <li><strong>Wins : </strong> <%= @team1.wins %></li>
            <li><strong>Losses : </strong><%= @team1.losses %></li>
            <li><strong>Goals/Game : </strong><%= @team1.goalsPerGame %></li>
            <li><strong>Goals Against/Game : </strong><%= @team1.goalsAgainstPerGame %></li>
            <li><strong>Power Play % : </strong><%= @team1.powerPlayPercentage %></li>
            <li><strong>Penalty Kill % : </strong><%= @team1.penaltyKillPercentage %></li> 
            <li><strong>Face Off Win % : </strong><%= @team1.faceOffWinPercentage %></li>
            <li><strong>Shot % : </strong><%= @team1.shootingPctg %></li>
            <li><strong>Save % : </strong><%= @team1.savePctg %></li>            
        </ul>

        </div>
            
    </div>
</div>
    <!-- end of team tab-->

<div class="selector">
    <!--team tab-->
    <div class="plan basic">
        
        <div class="entry-title">
        <%= select_tag 'team_2', options_from_collection_for_select(Team.all, :id, :name), :prompt => @team2.name  %>
            <div class="logo"> <%= image_tag("/assets/logo-#{@team2.id}.png", :height => "70") %>
            </div>
        </div>
        <div class="entry-content">
        
        
        <ul>
            <li><%= link_to "#{@team2.name}", team_path(@team2.id) %></li>
            <li><strong>Wins : </strong> <%= @team2.wins %></li>
            <li><strong>Losses : </strong><%= @team2.losses %></li>
            <li><strong>Goals/Game : </strong><%= @team2.goalsPerGame %></li>            
            <li><strong>Goals Against/Game : </strong><%= @team2.goalsAgainstPerGame %></li>
            <li><strong>Power Play % : </strong><%= @team2.powerPlayPercentage %></li>
            <li><strong>Penalty Kill % : </strong><%= @team2.penaltyKillPercentage %></li> 
            <li><strong>Face Off Win % : </strong><%= @team2.faceOffWinPercentage %></li>
            <li><strong>Shot % : </strong><%= @team2.shootingPctg %></li>
            <li><strong>Save % : </strong><%= @team2.savePctg %></li> 
        </ul>
            
        </div>
        
    </div>
</div>

    <!-- end of team tab-->
    <button type="submit" class="btn btn-primary">Submit</button>

    <end>

    

  </div>
  