<header class="masthead">
  <div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <%= form_tag("/faceoff_results", method: "post") do %>
        <div class="sim-matchup">

          <div class="team-selection">
            <div class="logo-container">
              <%= image_tag ("logo-nhl.png"), :class => "team-logo", :id => "team1" %>
            </div>
              <%= select_tag 'team1_id', options_from_collection_for_select(Team.all, :id, :name), { :prompt => "Select a Team", :onchange => "changeLogo1(this.value)" } %>
          </div>

          <div class="team-selection"> <h1> VS </h1>
          </div>

          <div class="team-selection">
            <div class="logo-container">
              <%= image_tag ("logo-nhl.png"), :class => "team-logo", :id => "team2" %>
            </div>
              <%= select_tag 'team2_id', options_from_collection_for_select(Team.all, :id, :name), :prompt => "Select a Team", :onchange => "changeLogo2(this.value)" %>
          </div>

        </div>

        <div class="run-sim-submit">
          <%= button_tag 'FACE OFF', :class => "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</header>

<div class="div-header">
<h5>SCOREBOARD</h5>
</div>
<div class="games-container">
<h5>Upcoming Games</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Away</th>
          <th scope="col"></th>
          <th scope="col">Home</th>
        </tr>
      </thead>
      <tbody>
        <%= render @games %>
      </tbody>
    </table>
</div>